@import 'src/scss/_variables.scss';

#productCard {
  background-color: #ffffff;

  .productContent {
    margin-top: $mb-1-5;
    text-align: left;
    width: 100%;
  }
  .productName {
    margin-bottom: $mb-0-5;
    color: $text-color;
    font-size: $h3-font-size;
    line-height: 100%;
    font-weight: $font-medium;
  }

  .productDesc {
    color: $text-color-light;
    font-size: $normal-font-size;
  }

  .productPrice {
    margin-top: $mb-1;
    color: $first-color;
    font-size: $h3-font-size;
    font-weight: $font-medium;
  }
}