#outstandingCard {
  position: relative;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 27px;
  text-align: left;
  display: flex;
  flex-direction: column;
  height: 330px;

  .outstandingContent {
    margin-top: auto;
  }

  .outstandingImg {
    max-width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(8%, -40%);
  }

  .outstandingName {
    margin: 14px 0;
    color: #56524e;
    font-size: 18px;
    line-height: 100%;
    font-weight: 600;
  }

  .outstandingDesc {
    color: #56524e;
    font-size: 14px;
    line-height: 100%;
    font-weight: 400;
  }
}
