@import 'src/scss/_variables.scss';

#outstandingCard {
  // position: relative;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 27px;
  text-align: left;
  height: 420px;

  .outstandingImg {
    transform: translateY(-160px);
  }

  .outstandingContent {
    transform: translateY(-160px);
  }

  .outstandingName {
    margin: 14px 0;
    color: $title-color;
    font-size: $h3-font-size;
    font-weight: $font-medium;
  }

  .outstandingDesc {
    color: $title-color;
    font-size: $small-font-size;
    color: $text-color-light;
  }
}
