@import 'src/scss/_variables.scss';

#header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: $z-fixed;
    box-shadow: 0 2px 4px rgb(0 0 0 / 18%);
    width: 100%;
    height: $header-height;
    background: $body-color;

    .headerWrap{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        max-width: 1200px;
        height: 100%;
    }

    .logo{
        text-transform: uppercase;
        color: $first-color;
        font-size: $h2-font-size;
        line-height: 100%;
        font-weight: 600;
        cursor: pointer;
    }

    .menu{
        display: flex;
    }

    .menuLink{
        color: $text-color;
        font-size: $normal-font-size;
        line-height: 100%;
        font-weight: 600;
        margin: 0 1.5rem;
        text-decoration: none;
        transition: all .3s ease;
    }

    .menuLink:hover {
        color: $first-color-alt;
    }

    .sign {
        background-color: $first-color;
        // color: $first-color;
        color: $body-color;
        padding: .6rem 1.2rem;
        border-radius: .25rem;
        font-size: $normal-font-size;
        line-height: 100%;
        font-weight: 600;
        cursor: pointer;
        transition: all .3s ease;
    }

    .sign:hover {
        background-color: $first-color-alt;
    }
}