$primaryColor: #61dafb;
// Google Fonts
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto&display=swap");

// Header
$header-height: 3.5rem;

// Colors
$first-color: hsl(28, 82%, 53%);
$first-color-alt: hsl(28, 82%, 48%);
$title-color: hsl(355, 4%, 15%);
$text-color: hsl(355, 4%, 35%);
$text-color-light: hsl(355, 4%, 55%);
$body-color: #fff;
$container-color: #fff;

// Fonts
$body-font: "Open Sans", sans-serif;

$biggest-font-size: 2rem; // 32px
$h1-font-size: 1.5rem; // 24px
$h2-font-size: 1.25rem; // 20px
$h3-font-size: 1rem; // 16px
$normal-font-size: 0.9375rem; // 15px
$small-font-size: 0.8125rem; // 13px
$smaller-font-size: 0.75rem; // 12px

// Font weight
$font-medium: 500;
$font-semi-bold: 600;

// Margin
$mb-0-25: 0.25rem;
$mb-0-5: 0.5rem;
$mb-1: 1rem;
$mb-1-5: 1.5rem;
$mb-2: 2rem;
$mb-2-5: 2.5rem;

// Z index
$z-tooltip: 10;
$z-fixed: 100;

// Responsive typography
@media screen and (min-width: 1200px) {
  $biggest-font-size: 2.5rem; // 40px
  $h1-font-size: 2.25rem; // 36px
  $h2-font-size: 1.5rem; // 24px
  $h3-font-size: 1.25rem; // 20px
  $normal-font-size: 1rem; // 16px
  $small-font-size: 0.875rem; // 14px
  $smaller-font-size: 0.825rem; // 13px
}